@import url(https://fonts.googleapis.com/css?family=0swald:400,700);
@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

/*codigo de torre*/
ul {
  position: relative;
  transform: skewY(-15deg);
}

li {
  position: relative;
  left: 55px;
  bottom: -15px;
  list-style: none;
  width: 200px;
  padding: 15px;
  background: #3e3f46;
  z-index: calc(1 * var(--i));
  transition: 0.5s;
}

li:hover {
  background: #47981D;
  transform: translateX(-50px);
}

li::before {
  font-family: "FontAwesome";
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-icon);
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

li:hover::before {
  background: #1A3A09;
}

li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

li:hover::after {
  background: #2E5E14;
}

li a {
  text-decoration: none;
  color: #999;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

li:hover a {
  color: #fff;
}

li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


body::before {
  background-image: url("img/code.png");
  background-repeat: no-repeat;
  background-position: right;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.container {
  width: 1200px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid #1875E8;
  box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
  background-image: url("img/Ruido.png");
  background-size: 100% 100%;
  position: relative;
}


.container__contenido {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.container__informaciones {
  flex: 1;
  padding: 3rem;
}

.container__boton {
  border-radius: 16px;
  background: #1875E8;
  padding: 16px 24px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  border: none;
  margin-top: 2rem;
}

.container__boton:disabled {
  background: #898989;
}

.container__texto {
  margin: 16px 0 16px 0;
}

.container__texto-azul {
  color: #1875E8;
}

.container__input {
  width: 100%;
  height: 72px;
  border-radius: 16px;
  background-color: #FFF;
  border: none;
  color: #1875E8;
  padding: 2rem;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.container__botones {
  display: flex;
  gap: 2em;
}

h1 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 72px;
  padding-bottom: 3rem;
}

p,
button {
  font-family: 'Inter', sans-serif;
}

.texto__parrafo {
  font-size: 31px;
  font-weight: 400;
}